.freebirdFormviewerViewFooterFooterContainer {
  display: none !important;
}

.love-gallery {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
  img {
    width: 30%;
    min-width: 250px;
    padding: 1rem;
  }
}

.wideboy {
  width: 90%;
}

.buttonBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 2rem;

  button {
    margin: 0.1rem;
  }
}

.info-panes {
  display: flex;
  flex-flow: row wrap;

  .maxi-info-pane {
    width: 100%;
  }

  .mini-info-pane {
    width:50%;
  }

}

.message-box {
  background: #F4C1CA;


  &__body {
    font-size: 1.4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: fit-content;
  }

  &__form {
    width: 95%;
    height: 1140px;
  }

  &__header {
    text-shadow: 1px 2px 5px black;
    text-align: center;
    font-family: "Lato", sans-serif;
    max-width: 33rem;
    margin-left: auto;
    margin-right: auto;

    &-text {
      text-align: center;
    }
  }


  &__title-bar-button {
    height: 1.6rem;
    min-width: unset !important;
    width: 1.6rem;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0 !important;
    background-image: unset;
  }

  &__button {
    width: 8rem;
    height: 3.3rem;
    font-size: 1.2rem;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
  }
}

/* Portrait */
@media only screen
  and (max-device-width: 667px) {
    .message-box__form {
      height: 1350px;
    }
    #wrapper {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
}
